.game-area{
    width: 50%;
    min-width: 600px;
    overflow: hidden;
    position: relative;
    height: 250px;
    border: 2px var(--light-red);
    border-style:groove;
    margin-bottom: 20px;
    z-index: 100;
    user-select: none;
}


.start-game-button{
    color: var(--light-black);
    background-color: var(--light-red);
    height: 4rem;
    width: 12rem;
    text-shadow: 1px 1px 1px var(--dark-red);
    font-family: monospace;
    padding-left: 10px;
    padding-right:10px ;
    font-weight: bold;
    font-size: large;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px var(--dark-red);
    border-width: 0;
}

.start-game-button:hover{
    color: var(--dark-black);
    background-color: var(--dark-red);
    text-shadow: 1px 1px 1px var(--light-red);
    box-shadow: 1px 1px 1px var(--light-red);
}

.lose-game-display{
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-red);
    text-shadow: 3px 3px 3px var(--dark-red);
}


.score-display{
    color: var(--dark-yellow);
    text-shadow: 2px 2px 5px var(--dark-red);
    margin-left: 1rem;
}

.score-display span{
    color: var(--white);
}

.game-instruction{
    width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.spacekey-display{
    background-color: var(--light-red);
    color: var(--dark-black);
    box-shadow: 2px 2px 2px var(--dark-red);
    border-radius: 5px;
    width: 150px;
    padding: 5px;
}

.text-display{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-red);
    text-shadow: 1px 1px 1px var(--dark-red);
}