*:root {
  /*NOTE: using BROADCAST theme for the crazy terminal*/
  --dark-black: #000000;
  --dark-red: #da4939;
  --dark-green: #519f50;
  --dark-yellow: #ffd24a;
  --dark-blue: #6d9cbe;
  --dark-crystal: #6e9cbe;
  --dark-purple: #d0d0ff;
  --light-black: #323232;
  --light-red: #ff7b6b;
  --light-green: #83d182;
  --light-yellow: #ffff7c;
  --light-blue: #9fcef0;
  --light-crystal: #a0cef0;
  --white: #ffffff;
  --comment: gray;
  --gumball-pink: #fe83c4;
  --gumball-blue: #4daae3; 
  --html: #E7741E;
  --css: #0F4AC6;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: monospace;
}

::-webkit-scrollbar {
  display: none;
}


html{
  background-color: black;
}